.content{
    margin-top: 20px;
    margin-left: 50px;
}

.title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.rowHead, .rowFooter{
    background-color: #AEDBCE;
}

.bodyContent{
    margin-top: 10px;
    width: 900px;
    height: 600px;
}
.tabel{
    border-radius: 20px !important;
    margin:30px;
}
  .buttonTambah{
    margin-top: 10px;
}