.side{
    border-radius: 20px;
    width: 250px;
    height: 730px;
    background-color: #AEDBCE;
}

.imgLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.listButton:active{
    background-color: #839AA8;
    color: white;
    font-weight: bold;
}
